<section class="card-container">
<article class="">
    <h3 class="certification-title">{{certification.title}}</h3>
    <div class="detail catagory">
        <span>Catagory:</span> {{certification.catagory}}
    </div>
</article>
</section>

