<div class="card-container">
<p class="">
    <h3 class="certification-title">{{certification.title}}</h3>
    <button class="button right" {{action "deleteCertification" certification}}>Delete</button>
</p>
</div>