<div class="card-container">
<p class="">
    <h3>Role Name: {{pastProjectExp.rolename}}</h3>
    <div class="detail catagory">
        <h3><span>Role Description: </span></h3> {{pastProjectExp.roledescription}}
    </div>
</p>
</div>