<div class="card-container">
<p class="">
    <h3 class="certification-title">Role Name:{{pastProjectExp.rolename}}</h3>
    <div class="detail catagory">
        <span>Role Description</span> {{pastProjectExp.roledescription}}
    </div>
</p>
</div>