<p class="">
    <h3>Personal Bio:</h3>
    <div class="detail catagory">
        {{pstatement.description}}
        {{!-- {{ember-inline-edit
        field ='textarea'
        value = (readonly value)
        onSave=(action (mut value))
        }} --}}
    </div>
</p>
