<div class="card-container">
    <p class="">
        <h3 class="skill-title">{{skill.title}}</h3>
        <div class="detail catagory">
            <span>Catagory:</span> {{skill.catagory}}
        </div>
    </p>
</div>