<section class="card-container">
    <article class="">
        <h3 class="skill-title">{{skill.title}}</h3>
        <div class="detail catagory">
            <span>Catagory:</span> {{skill.catagory}}
        </div>
    </article>
</section>