<div class="container">
    <div class="menu">
        {{#link-to "index"}}
        <h1>
            <em>IProfile</em>
        </h1>
        {{/link-to}}
        <div class="links">
            {{#link-to "personal-information"}}
                Personal Information
            {{/link-to}}
            {{#link-to "personal-statement"}}
                Personal statement
            {{/link-to}}
            {{#link-to "skills" class="menu-skills"}}
                Skills
            {{/link-to}}
            {{#link-to "certifications" class="menu-certifications"}}
                Certificaitons
            {{/link-to}}
            {{#link-to "past-project-exp"}}
                Past Project Experience
            {{/link-to}}
        </div>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>