<div class="card box-shadow">
    <h2>Certifications</h2>
    <p>
    {{#each model as |certificationUnit|}}
        {{certification-listing certification=certificationUnit}}
    {{/each}}
    </p>
</div>
<button {{action "toggleModal"}}>Toggle Modal</button>

{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Oh hai there!
  {{/modal-dialog}}
{{/if}}
<button class="button" {{action "openModal" 'modal' model}}>Add new</button>
<button class="button right" {{action "deleteCertification"}}>Delete</button>