<div class="jumbo certification-body">
    <div class="right tomstar"></div>
    <div class="certifications-li">
        <h2>Certifications</h2>
        <p>
        {{#each model as |skillUnit|}}
            {{skill-listing skill=skillUnit}}
        {{/each}}
        </p>
    </div>
</div>