<div class="card box-shadow">
    <h2>Certifications</h2>
    <p>
    {{#each model as |certificationUnit|}}
        {{certification-listing certification=certificationUnit}}
    {{/each}}
    </p>
</div>
<button class="button" {{action "addCertification"}}>Add new</button>
<button class="button right" {{action "deleteCertification"}}>Delete</button>