<div id="pstatement-container">
    <div>
        <button class="button" {{action "exportAsPdf"}}>Save Page as PDF</button>
    </div>
    <div class="card box-shadow">
        {{#each model as |statementUnit|}}
            {{personal-statement-listing pstatement=statementUnit}}
        {{/each}}
    </div>
</div>
<button class="button" {{action "updateStatement"}}>Update</button>
<button class="button right" {{action "deleteStatement"}}>Delete</button>